/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Figtree';
      font-style: normal;
      src: url(@/assets/fonts/Figtree-VariableFont_wght.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Figtree-italic';
        font-style: italic;
        src: url(@/assets/fonts/Figtree-Italic-VariableFont_wght.woff2) format('woff2');
    }
}

#nprogress .bar {
  display: block !important;
  background: #9e2da8 !important; /* Customize the color */
  height: 6px  !important;         /* Customize the height */
  z-index: 9999 !important; 
}

#nprogress .peg {
  box-shadow: 0 0 10px #660947, 0 0 5px #be094f; /* Customize the shadow */
}

#nprogress .spinner {
  display: block; /* Hide spinner if not needed */
}
