
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite';

.tile-radio-buttons{
    width: 150px !important;
    border-radius: 10px !important;
    height: 100px !important;
}